* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.button {
    background-color:dodgerblue;
    padding:5px 15px;
    margin:10px;
    border-radius:5px;
    color:white;
    border:1px solid grey;
}

.cancel{
    color:red;
}
.specialOne {
   
    width: 100%;
    height: 50%;
}

    .specialOne img {
        width: 100vw;
        height: 50%;
    }

img {
    border: 4px solid grey;
}

.left {
    float: left;
    width: 100%;
    text-align: left;
    padding: 5px;
    overflow: auto;
}

.middle{
    padding:5px 35px;
}

.login{
    padding:15px;
}
.main {
    float: left;
    width: 8%;
    padding: 10px 5px;
    text-align: justify;
    border: 1px dashed grey;
    height: 350px;    
    overflow: auto;
    margin: 5px;
}

.right {
    background-color:burlywood;
    float: left;
    width: 40%;
    padding: 10px 10px;
    margin-top: 50px;
    color: black;
    text-align: justify;
}


.bottom {
    float:left;
    width:100%;
    height:500px;
    padding:10px;
    margin:5px;
    border:1px solid grey;
    overflow:auto;
}  
   

.demo {
    border: 1px grey solid;
    display: none;
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: lightgray;   
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

ul li {
    padding:15px;
    cursor:pointer;
}    

ul li:hover {
    background-color:darkgray;
}

.msheader {
    cursor:default;
}

.msheader:hover {
    background-color:Highlight;
}

.publicMsgs {
    border:1px solid blue;
    border-radius:20px;
    background-color:lightgray;
    float:left;
    width:70%;
    padding:10px;
    margin:2px;
}

.personalMsgs {
    border: 1px solid grey;
    border-radius: 20px;
    background-color:lightblue ;
    float: right;
    width: 70%;
    padding: 10px;
}

.replyMsgHead {
    border: 1px solid grey;
    border-radius:20px;
    color:darkblue;
    background-color:lightgray; 
    font-size:12px;
    padding:5px;
    margin-bottom:5px;
}

.showMsg {
    color:black;
    padding:10px 20px;
    margin:5px 400px;
    
}

.disbM {
    pointer-events: none;
    color: grey;
}

.paginationMine button {
    display: inline-block;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin: 1px;
}

    .paginationMine button.disbM {
        pointer-events: none;
        color:grey;
    }

    .paginationMine button.activeM {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

    .paginationMine button:hover:not(.activeM):not(.disbM) {
        background-color: #ddd;
        border-radius: 5px;
    }

.mine {
    float: right;
}

.wrap{
    width:88%;
    float:left;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .left, .main, .right, .bottom, .wrap {
        width: 100%;
    }
    #sendBtn {
        margin-left:100px;
    }
    .showMsg{
        margin:5px 200px;
        
    }
}
